# last modified 2019-09-06 by J. Fox

useDynLib(norm)
useDynLib(norm, ctrsc, mkpsi,  swp, initn, stvaln, tobsn, emn, moden, lprin,lobsn,swpobs,
          gtmc, gtoc, rngs, is1n, sigex, chols, ps1n, invtrn, bfac, mmn, ninvwn,
          ph2thn, sjn, lasts, is2n, layers, tobsmn, chol2, ps2n, 
          chisq, rangen, gamm, gauss)

export(prelim.norm, getparam.norm, makeparam.norm,
       em.norm, logpost.norm, loglik.norm, ninvwish, da.norm, imp.norm, mda.norm,
       rngseed, mi.inference, .code.to.na, .na.to.snglcode)

importFrom("stats", "pt", "qt", "var")
